<!DOCTYPE html>
<html>
<head>
<title>Publications - <%= htmlWebpackPlugin.options.title %></title>
<meta name="robots" content="noindex">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div id="main"></div>  
<% if (htmlWebpackPlugin.options.googleAnalytics) { %>
  <script type="text/javascript">
    window.GoogleAnalyticsObject='ga';window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
    <% if (htmlWebpackPlugin.options.googleAnalytics.trackingId) { %>
    ga('create','<%= htmlWebpackPlugin.options.googleAnalytics.trackingId %>','auto');
    <% } else { throw new Error("html-webpack-template requires googleAnalytics.trackingId config"); } %>
    <% if (htmlWebpackPlugin.options.googleAnalytics.pageViewOnLoad) { %>
    ga('send','pageview')
    <% } %>
  </script>
  <script async defer src="https://www.google-analytics.com/analytics.js" type="text/javascript"></script>
<% } %>
</body>
</html>
