$header-height: 85px;

.header {
  background-color: $primary-color;
  border-bottom: $dark-grey solid 1px;
  text-align: center;
  z-index: 10;

  &.cover {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .mask { 
    background-color: rgba($primary-color, 0.6);
  }

  .container {
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 5px;
    padding-top: 5px;

    h1 {
      margin: 0 !important;
      padding: 0 !important;
    }

    .header-logo {
      background-image: url(../assets/kitsu.png), url(../assets/logo.svg);
      background-repeat: no-repeat, no-repeat;
      background-size: 60px, 150px;
      background-position: 0 40%, 65px 50%; 
      display: inline-block;      
      height: $header-height;
      text-decoration: none;
      width: 220px;

      .access-text {
        margin-left: -999999px;
        position: relative;
      }

      @media (#{$bp-larger-than-tablet}) {
        background-size: 80px, 270px;
        background-position: 0 30%, 85px 70%;
        width: 360px;
      }
    }

    @mixin hackHeader {
      background-image: none;
      .access-text {
        color: $font-color-light;
        margin-left: 0;
        text-transform: uppercase;
        text-decoration: none;
      }
    }
    
    #{$hackFF}.header-logo {
      @include hackHeader;
    }
  
    .header-title {
      color: lighten($primary-color, 50%);
      letter-spacing: 0.15em;
      text-transform: uppercase;
    }

    .header-back {
      color: $light-grey;
      &::before {
        content: "← ";
      }
    }

    @media (#{$bp-larger-than-tablet}) {
      .header-back {
        left: 5px;
        position: absolute;
        top: 5px;
      }
    }
  }
}
