.home {
  $max-width: 700px;
  text-align: center;
  padding: 25px 0;
  background: $font-color-light;

  .home-title {
    text-transform: uppercase;
  }

  hr, .button {
    clear: both;
  }

  .production {
      margin-bottom: 15px;

    .preview {
      @include box-shadow;
      max-width: $max-width;
      width: 100%;

      @media (#{$bp-larger-than-mobile}) {
        height: 245px;
        width: auto;
      }
      @media (#{$bp-larger-than-desktop}) {
        width: auto;
      }
    }

    h5 {
      color: $primary-color;
    }

    p {
      display: inline-block;
      max-width: $max-width;
      text-align: justify;
      @media (#{$bp-larger-than-desktop}) {
        padding: 0 2.5%;
        vertical-align: text-bottom;
        width: 50%;
      }
    }
  }
}
