.intro {
	background-color: $link-color;
	color: $font-color-light;
	padding-top: 25px;
  position: relative;
	text-align: justify;
  z-index: 11;

  p.more {
    text-align: center;
  }

	a.button {
		border-color: $font-color-light;
		color: $font-color-light;
		
		&:hover, &:active {
			border-color: lighten($secondary-color, 30%);
			color: lighten($secondary-color, 30%);
		}
	}
}
