.slideshow { 

  background-color: $primary-color;
  border-bottom: $dark-grey solid 1px;
  margin-bottom: 0;
  position: relative;

  height: 390px;

  @media (#{$bp-larger-than-desktop}) {
    height: 500px;
  }
  
  .mask {
    background-color: rgba($primary-color, 0.6);
    height: 100%;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    z-index: 6;

    h1 {
      margin: 0 !important;
      padding: 0 !important;
    }

    .slideshow-title {
      background-image: url(../assets/kitsu.png), url(../assets/logo.svg);
      background-repeat: no-repeat, no-repeat;
      background-size: 160px, 75%;
      background-position: center 35%, center 62%; 
      @media (#{$bp-larger-than-phablet}) {
        background-size: 160px, 50%;
        background-position: center 35%, center 65%; 
      }
      display: inline-block;
      height: 100%;
      text-decoration: none;
      width: 100%;

      .access-text {
        margin-left: -999999px;
        position: relative;
      }
    }

    @mixin hackSlideshow {
      background-image: none;
      display: table;
      .access-text {
        color: $font-color-light;
        display: table-cell;
        margin-left: 0;
        text-transform: uppercase;
        text-decoration: none;
        vertical-align: middle;
      }
    }
    
    #{$hackFF}.slideshow-title {
      @include hackSlideshow;
    }
  
  }

  .slide {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: absolute;
    top: 0; left: 0;
    z-index: 5;
    -webkit-animation: slideshow 12s linear 0s infinite;
    -moz-animation: slideshow 12s linear 0s infinite;
    -ms-animation: slideshow 12s linear 0s infinite;
    -o-animation: slideshow 12s linear 0s infinite;
    animation: slideshow 12s linear 0s infinite;
  }

  .slide:nth-child(2) {
    z-index: 4;
    -webkit-animation: slideshow 12s linear 4s infinite;
    -moz-animation: slideshow 12s linear 4s infinite;
    -ms-animation: slideshow 12s linear 4s infinite;
    -o-animation: slideshow 12s linear 4s infinite;
    animation: slideshow 12s linear 4s infinite;
  }

  .slide:nth-child(3) {
    z-index: 3;
    -webkit-animation: slideshow 12s linear 8s infinite;
    -moz-animation: slideshow 12s linear 8s infinite;
    -ms-animation: slideshow 12s linear 8s infinite;
    -o-animation: slideshow 12s linear 8s infinite;
    animation: slideshow 12s linear 8s infinite;
  }

  .slide:nth-child(4) {
    z-index: 2;
    -webkit-animation: slideshow 12s linear 8s infinite;
    -moz-animation: slideshow 12s linear 8s infinite;
    -ms-animation: slideshow 12s linear 8s infinite;
    -o-animation: slideshow 12s linear 8s infinite;
    animation: slideshow 12s linear 8s infinite;
  }

  .slide:nth-child(5) {
    z-index: 1;
    -webkit-animation: slideshow 12s linear 8s infinite;
    -moz-animation: slideshow 12s linear 8s infinite;
    -ms-animation: slideshow 12s linear 8s infinite;
    -o-animation: slideshow 12s linear 8s infinite;
    animation: slideshow 12s linear 8s infinite;
  }

  @-webkit-keyframes slideshow {
     25% { opacity: 1;}
     33.33% { opacity: 0;} 
     91.66% { opacity: 0;}
     100% { opacity: 1;}
  }
  @-moz-keyframes slideshow {
     25% { opacity: 1;}
     33.33% { opacity: 0;} 
     91.66% { opacity: 0;}
     100% { opacity: 1;}
  }
  @-ms-keyframes slideshow {
     25% { opacity: 1;}
     33.33% { opacity: 0;} 
     91.66% { opacity: 0;}
     100% { opacity: 1;}
  }
  @-o-keyframes slideshow {
     25% { opacity: 1;}
     33.33% { opacity: 0;} 
     91.66% { opacity: 0;}
     100% { opacity: 1;}
  }
  @keyframes slideshow {
     25% { opacity: 1;}
     33.33% { opacity: 0;} 
     91.66% { opacity: 0;}
     100% { opacity: 1;}
  }
}